# WordPress
public/*
!public/wp-content
public/wp-content/*
!public/wp-content/themes
public/wp-content/themes/*
!public/wp-content/mu-plugins
public/wp-content/mu-plugins/*
!public/wp-content/mu-plugins/core-functionality
public/wp-content/mu-plugins/core-functionality/phpcs.xml
public/wp-content/mu-plugins/core-functionality/composer.json
public/wp-content/mu-plugins/core-functionality/composer.lock
public/wp-content/mu-plugins/core-functionality/LICENSE
public/wp-content/mu-plugins/core-functionality/.gitignore
public/wp-content/mu-plugins/core-functionality/README.md
!public/wp-content/mu-plugins/bedrock-autoloader.php


# Composer
vendor/*
!vendor/.gitkeep

# Node
node_modules/*
!node_modules/.gitkeep

# IDE specific directories
.vscode
.idea

