/.env
# WordPress
public/*
!public/wp-content
public/wp-content/*
!public/wp-content/themes
public/wp-content/themes/*
!public/wp-content/mu-plugins
public/wp-content/mu-plugins/*
!public/wp-content/mu-plugins/bedrock-autoloader.php


# Composer
vendor/*
!vendor/.gitkeep

# Node
node_modules/*
!node_modules/.gitkeep

# IDE specific directories
.vscode/*
!.vscode/launch-project.json
.idea

# data
/data